
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url(../assets/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 3%;
}


.ancients_container {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ancient_card {
    width: 270px;
    height: 350px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.ancient_card._active {
    border: solid 2px red;
}

.ancient_card:hover {
    /* transform: scale(1.5); */
}

#azathoth {
    background-image: url(../assets/Ancients/Azathoth.png);
}

#cthulhu {
    background-image: url(../assets/Ancients/Cthulthu.png);
}

#iogSothoth {
    background-image: url(../assets/Ancients/IogSothoth.png);
}

#shubNiggurath {
    background-image: url(../assets/Ancients/ShubNiggurath.png);
}

/* ---------- */

._button {
    width: 100px;
    height: 50px;
    background-color: purple;
    border-radius: 15px;
    border: solid 1px red;
    color: white;
}

.card {
    width: 200px;
    height: 300px;
    background-size: 200px 300px;
    border-radius: 25px;
    border: solid 3px rgba(43, 34, 34, 0.533);
}

.deck {
    background-image: url(../assets/mythicCardBackground.png);
    cursor: pointer;
}

.current_card {
    margin-top: 30px;
}